@charset "UTF-8"; 

/* Versão Mobile First */

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
}

body {
    background-color: rgba(128, 128, 128, 0.438);
}

header {
    border: 1px solid blue;
    background-color: gray;
}

h1 {
    text-align: center;
    color: black;
    padding: 10px;
}

header > menu {
    display: block;
}

header > menu > ul {
    list-style-type: none;
}

header > menu> ul > li > a {
    display: inline-block;
    border: 1px solid blue;
    background-color: rgb(51, 51, 51);
    padding: 15px;
}

header > menu> ul > li > a:hover {
    background-color: gray;
}

main {
    background-color: white;
    width: 50vw;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
}

main > article > p {
    text-align: justify;  
    padding: 10px;
    margin-bottom: 20px;
}

main > article > h2 {
    margin-bottom: 20px;
}



