@charset "UTF-8"; 

body {
    background-color: blue;
}


span#burger {
    display: none;
}

header > menu {
    display: inline-block;
}

header > menu > ul > li {
    display: inline-block;
    border: 20px solid red;
    text-align: center;
}

header > menu> ul > li > a {
    border: 1px solid white;
    background-color: rgb(51, 51, 51);
    padding: 10px;
    width: auto;
}
