@charset "UTF-8";

* {
    /* configuracoes globais */
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    padding: 10px;
}

p {
    padding: 10px;
}

/*

    <form autocomplete="off" - desliga autocomplete 
*/