@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --cor0: #C5EBD6;
    --cor1: #83e1ad;

    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte-padrao:'Sriracha', cursive;
    --fonte-destaque:'Passion One', sans-serif;
}

* {
    /* configuracoes globais */
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte-destaque);
    font-size: 10vw;

}

header > p {
    font-size: 1.5em;
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

div {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte-padrao);
    font-size: 3.5vw;
}

div.normal {
    background-color: white;
    color: black;
}

div.imagem {
    background-color: black;
    color: white;
}

div.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.295);
}

div#q1 {
    position: relative;
}

div#q1 > article {
    position: absolute;
    background-size: 100px;
    left: 30px;
    top: 30px; 
}
div#q2 {
    background-size: cover;
    position: relative;
    background: darkgreen url(../imagens/background001.jpg) center center no-repeat fixed;
    background-size: cover;
}
div#q2 > article {
    position: absolute;
    background-size: 100% 100%;
    background-color: rgba(0, 100, 0, 0.153);
    left: 30px;
    top: 30px; 
}

div#q4 {
    height: 700px;
    position: relative;
    background: darkgreen url(../imagens/background002.jpg) center center no-repeat fixed;
    background-size: cover;
}
div#q4 > article {
    position: absolute;
    background-size: 100% 100%;
    position: absolute;
    background-color: rgba(105, 105, 105, 0.350);

    left: 30px;
    top: 30px; 

}

footer {
    font-family: var(--fonte-destaque);
    background-color: black;
    color: white;
    font-size: 1em;
    text-align: center;
    padding: 10px;

}

footer a:hover {
    text-decoration: underline;
}
